<div class="cards-trending">

  <div class="card-trending">
    <img src="https://images.pexels.com/photos/129112/pexels-photo-129112.jpeg?cs=srgb&dl=white-house-129112.jpg&fm=jpg" />
    <div class="card-trending-infos">
      <div>
        <h2>White House</h2>
      </div>
      <h2 class="card-trending-pricing">$10,400/night</h2>
    </div>
  </div>

  <div class="card-trending">
    <img src="https://res.cloudinary.com/dg1vldahp/image/upload/v1582916056/Grantley_Hall_Exterior_Twilight_lr_oidebf.jpg" />
    <div class="card-trending-infos">
      <div>
        <h2>Meghan Markle Sussex Palace</h2>
      </div>
      <h2 class="card-trending-pricing">$8,000/night</h2>
    </div>
  </div>

  <div class="card-trending">
    <img src="https://res.cloudinary.com/dg1vldahp/image/upload/v1582916228/Cher_s_house_wzapjf.jpg" />
    <div class="card-trending-infos">
      <div>
        <h2>Cher's Summer Mansion</h2>
      </div>
      <h2 class="card-trending-pricing">$6,200/night</h2>
    </div>
  </div>
</div>
