<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/129112/pexels-photo-129112.jpeg?cs=srgb&dl=white-house-129112.jpg&fm=jpg)">
    <div>
      <h2>White House</h2>
      <br>
      <p> $10,000/night</p>
    </div>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/87378/pexels-photo-87378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    <div>
      <h2>Meghan Markle Sussex Palace</h2>
      <br>
      <p> $7,400/night</p>
    </div>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?cs=srgb&dl=palm-trees-at-night-258154.jpg&fm=jpg)">
    <div>
      <h2>Cher's Summer Mansion</h2>
      <br>
      <p> $4,500/night</p>
    </div>
  </div>
</div>
