<div class="row">
  <div class="col-6">
    <h2>My bookings</h2>
    <% @bookings.each do |booking| %>
      <%= render "components/cards-trending", palace: booking.palace %>
    <% end %>
  </div>
</div>

