

<!-- banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/06/10/f9/0610f9d4c59171e747b787b8ab551442.png);">
  <div class="container">
    <h1>Heirbnb</h1>
    <p>You deserve better</p>
    <a class="btn btn-flat" href="#">Membership</a>
  </div>
</div>

