
<div class="banner">
  <div class="banner-content text-center">
    <h1>Heirbnb</h1>
    <h2>You deserve better</h2>

    <a class="btn btn-flat" href="/palaces">View All Palaces</a>



  </div>
</div>

<div>
  <p>Trending now...</p>
</div>

<%= render 'components/cards-trending' %>

