
<div class="banner">
  <div class="banner-content text-center">
    <h1>Heirbnb</h1>
    <p>You deserve better</p>
    <%= link_to "Search Palaces", "http://localhost:3000/palaces", class: "btn btn-ffc0cb" %>


  </div>
</div>

<div>
  <h1>Trending now...</h1>
</div>

<%= render 'components/cards-trending' %>

