<div class="container form-palace">
  <div class="row">
  <% @palaces.each do |palace| %>
    <div class="col-lg-4 pt-5">

      <div class="card-trending" >
        <img src="<%= cl_image_path palace.photo.key, height: 400, width: 500, crop: :fill %>" />
        <div class="text-center">
          <h4><%= link_to palace.name, palace_path(palace) %></h4>
          <div class="card-trending-pricing">
          <p><%= palace.location %></p>
          <p>$<%= palace.price %></p>
        </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
